{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="shlist" id="liste-de-courses">
            

            <h1 class="shlist__title">Ma liste de <span></span></h1>

            <div class="shlist__articles">

            </div>

            <form id="shlist-form" class="shlist__form">

                <input type="text" class="shlist__input">

                <button>+</button>

            </form>

    </div>
{% endblock %}
